body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #dfe9f3, #ffffff);
  display: flex;
  justify-content: center;
  align-items:normal;
  height: 100vh;
}

form {

  width: 90%;
  max-width: 400px;
  margin: auto;
}


h2 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

label {
  font-weight: 600;
  color: #444;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 8px 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

input[type="submit"] {
  background-color: #0078D7;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #005ba1;
}

a {
  color: #0078D7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

